<div class="row">
	<main class="col-md-12">
		<div class="add-div">
			<h3>About Me</h3>
			<p>
				I am an outgoing person who loves to explore new technologies,an avid book reader and someone
				who
				likes to cook sometimes.
			</p>
			<p> Hi, I am Chahat Kaur Chhabra. I am a Software Engineer.I work with ETL tools like SSIS and SQL
				Server. I also know reporting tools such as Power BI and Tableau.</p>
			<p>I am currently pursuing Database Application Developer program from Seneca, Toronto, Canada.
				Please
				find below my information:</p>
			<br />
			<p>Full Name: Chahat Kaur Chhbara</p>
			<p>Email Address: ckchhabra@myseneca.ca</p>
			<p>Student ID: 118767219</p>

		</div>
	</main>
</div>